body {
  background-color: whitesmoke
}

.card .card-title {
  color: blue;
}

.btn {
  background-color: blue !important;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  color: blue;
}

.box {
  border: 2px solid blue;
  padding: 10px;
  background-color: white;
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%;
  box-sizing: border-box;
  float: left;
}